.contact-container {
    margin: 0 auto;
    padding: 2rem 1rem;
    max-width: 1250px;
  }
  
  .contact-title {
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: left; /* Center the title for better responsiveness */
  }
  
  .contact-divider {
    width: 8rem;
    height: 0.25rem;
    background-color: #F59E0B;
    margin: 1px 1px 1rem;
  }
  
  .contact-description {
    text-align: left; /* Center the description for better responsiveness */
    color: #52525B;
    margin-bottom: 4rem;
  }
  
  .contact-methods {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2rem;
  }
  
  .contact-method {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .contact-icon {
    margin-bottom: 0.5rem;
    display: inline-block;
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }
  
  .contact-method-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
  
  .contact-method-description {
    color: #52525B;
    margin-bottom: -3px;
  }
  
  .contact-method-detail {
    color: #27272A;
    font-weight: 500;
  }
  
  /* Media queries for responsive design */
  
  /* Extra small devices (phones, 320px and up) */
  @media (min-width: 320px) {
    .contact-title {
      font-size: 1.5rem;
    }
  
    .contact-methods {
      gap: 1.5rem;
    }
  }
  
  /* Small devices (landscape phones, 480px and up) */
  @media (min-width: 480px) {
    .contact-title {
      font-size: 1.75rem;
    }
  
    .contact-method-title {
      font-size: 1.125rem;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .contact-methods {
      flex-direction: row;
      justify-content: center;
      gap: 4rem;
    }
  
    .contact-title {
      font-size: 1.875rem;
    }
  
    .contact-description {
      text-align: left; /* Align text left for larger screens */
      margin-bottom: 3rem;
    }
  }
  
  /* Large devices (desktops, 1024px and up) */
  @media (min-width: 1024px) {
    .contact-title {
      font-size: 2rem;
    }
  
    .contact-method-title {
      font-size: 1.25rem;
    }
  
    .contact-description {
      margin-bottom: 6rem;
    }
  
    .contact-methods {
      gap: 6rem;
    }
  }
  
